#These are configuration files for QtCreator
LibChemist.config
LibChemist.files
LibChemist.includes
LibChemist.creator
LibChemist.creator.user
*.autosave

#This is the clang-format script downloaded by the pre-commit hook
.clang-format

#These are configuration files for CLion
.idea/

#This is the documentation build directory
docs/

#These are common build directory names
Debug/
Release/
cmake-build-debug/
cmake-build-release/

#This is the typical tool
toolchain.cmake
